/* header */
.container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1366px;
    margin: auto;
    padding: 1rem;
    @media(min-width: 640px) {
        
        grid-template-columns: 400px 1fr;
    }
}

/* index */

.main-index{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
   
}

.main-title{
    font-weight:bold;
    
}

ul{
    list-style: none;
}
span{
    color: brown;
}

/* contacto */

.main-contact{
    text-align: center;
    margin: 2rem;
}

.iconos {
    width: 40px;
    height: 40px;
}
