/* header */
.container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1400px;
    margin: auto;
    padding: 1rem;
    @media(min-width: 640px) {
        gap: 2.5rem;
        grid-template-columns: 1fr 1fr;
    }
}

/* index */

.main-index{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
   
}

.main-title{
    font-weight:bold;
    
}

ul{
    list-style: none;
}
span{
    color: brown;
}

/* contacto */

.main-contact{
    text-align: center;
    margin: 2rem;
}
