
<header class="main-header">
    
    
    <nav class="navbar">
        <a href="/"><h1 class="logo title">Portfolio de Maxi</h1></a>
        <a href="/sobre-mi" class="sobre-mi">Sobre mi</a>
    </nav>
</header>

<style>
    header {
        background-color: #BBC3A4;
       @media (min-width: 800px){
            grid-template-columns: repeat(3, 1fr);
       }
    }
    
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-left: 25%;
        margin-right: 25%;
        gap: 10px;
        opacity: 90%;
    }
    a{
        outline: none;
        text-decoration: none;
        color: #000000;
    }
   
</style>
