---
import Card from "../components/ui/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";

---
<MainLayout titulo="Portafolio de Maxi">
	<h2 title="main-title">Inicio</h2>

	<p> Mi nombre es Maximiliano Sequeira Lago. </p>

	<section class="exp-laboral">

		<h1 title="title"> Experiencia laboral</h1>

		<p>Xunta de Galicia - Auxiliar Administrativo</p>
		<p>Cersia - Desarrollo de aplicaciones</p>

	</section>

	<Card title="Prueba" body=""/>
</MainLayout>

<style>
	h1{
		text-align: center;
	}
	section h1 {
		text-align: start;
	}
</style>