---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout titulo="Portafolio de Maxi">
	<main class="main-index">
		<section class="maxi">
			<h2 class="main-title">
				Hola, mi nombre es Maximiliano Sequeira Lago.
			</h2>
			<ul>
				<li>
					Estudiante de <span>desarrollo de aplicaciones web 🖥️</span>
					en Santiago de Compostela, España.
				</li>
			</ul>
		</section>

		<section class="experiencia">
			<h2 title="title">Experiencia laboral</h2>
			<div class="content">
				<ul>
					<li>2023-2024: Cersia - Desarrollo de aplicaciones</li>
					<li>
						2022-2023: Xunta de Galicia - Auxiliar Administrativo
					</li>
				</ul>
			</div>
		</section>

		<section class="estudios">
			<h2 class="title">Estudios</h2>
			<div class="content">
				<ul>
					<li>
						2018-2021: Ciclo Formativo Grado Superior,
						Administración y Finanzas
					</li>
					<li>
						2016-2018: Ciclo Formativo Grado Medio, Administración y
						gestión de empresas
					</li>
				</ul>
			</div>
		</section>

		<section class="certificaciones">
			<h2 class="title">Certificaciones</h2>
			<div class="content">
				<ul>
					<li>Ciberseguridad - IFCT2059 - Xunta de Galicia</li>
					<li>Adobe ACA en diseño usando Photoshop</li>
					<li>
						Posicionamiento web Seo/sem - COMM2055 - Xunta de
						Galicia
					</li>
					<li>
						Social media-marketing digital y emprendimiento -
						Fundación INCYDE
					</li>
				</ul>
			</div>
		</section>
	</main>
</MainLayout>

<style>
	ul > li {
		margin: 16px;
	}
	.maxi{
		padding-top: 100px;
	}
	section {
		width: 100%;
		margin: auto;
		transition: transform 0.3s ease;
	}
	section:hover {
		transform: scale(1.1);
	}
</style>
