---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout titulo="Portafolio de Maxi">
	<h1 title="main-title">Portfolio Maxi</h1>

	<p> Mi nombre es Maximiliano Sequeira Lago. </p>

	<section class="exp-laboral">

		<h1 title="title"> Experiencia laboral</h1>

		<p>Xunta de Galicia - Auxiliar Administrativo</p>
		<p>Cersia - Desarrollo de aplicaciones</p>

	</section>
</MainLayout>

<style>
	h1{
		text-align: center;
	}
</style>